@font-face {
  font-family: Sahel;
  src: url('https://cdn.jsdelivr.net/gh/rastikerdar/sahel-font@latest/dist/Farsi-Digits/Sahel-FD.eot');
  src: url('https://cdn.jsdelivr.net/gh/rastikerdar/sahel-font@latest/dist/Farsi-Digits/Sahel-FD.eot?#iefix') format('embedded-opentype'),
       url('https://cdn.jsdelivr.net/gh/rastikerdar/sahel-font@latest/dist/Farsi-Digits/Sahel-FD.woff') format('woff'),
       url('https://cdn.jsdelivr.net/gh/rastikerdar/sahel-font@latest/dist/Farsi-Digits/Sahel-FD.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: Sahel;
  src: url('https://cdn.jsdelivr.net/gh/rastikerdar/sahel-font@latest/dist/Farsi-Digits/Sahel-Bold-FD.eot');
  src: url('https://cdn.jsdelivr.net/gh/rastikerdar/sahel-font@latest/dist/Farsi-Digits/Sahel-Bold-FD.eot?#iefix') format('embedded-opentype'),
       url('https://cdn.jsdelivr.net/gh/rastikerdar/sahel-font@latest/dist/Farsi-Digits/Sahel-Bold-FD.woff') format('woff'),
       url('https://cdn.jsdelivr.net/gh/rastikerdar/sahel-font@latest/dist/Farsi-Digits/Sahel-Bold-FD.ttf') format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: Sahel;
  src: url('https://cdn.jsdelivr.net/gh/rastikerdar/sahel-font@latest/dist/Farsi-Digits/Sahel-Black-FD.eot');
  src: url('https://cdn.jsdelivr.net/gh/rastikerdar/sahel-font@latest/dist/Farsi-Digits/Sahel-Black-FD.eot?#iefix') format('embedded-opentype'),
       url('https://cdn.jsdelivr.net/gh/rastikerdar/sahel-font@latest/dist/Farsi-Digits/Sahel-Black-FD') format('woff'),
       url('https://cdn.jsdelivr.net/gh/rastikerdar/sahel-font@latest/dist/Farsi-Digits/Sahel-Black-FD') format('truetype');
  font-weight: 900;
}



@font-face {
  font-family: Nahid;
  src: url('https://cdn.jsdelivr.net/gh/rastikerdar/nahid-font@latest/dist/Farsi-Digits/Nahid-FD.eot');
  src: url('https://cdn.jsdelivr.net/gh/rastikerdar/nahid-font@latest/dist/Farsi-Digits/Nahid-FD.eot?#iefix') format('embedded-opentype'),
       url('https://cdn.jsdelivr.net/gh/rastikerdar/nahid-font@latest/dist/Farsi-Digits/Nahid-FD.woff') format('woff'),
       url('https://cdn.jsdelivr.net/gh/rastikerdar/nahid-font@latest/dist/Farsi-Digits/Nahid-FD.ttf') format('truetype');
  font-weight: normal;
}
